@CHARSET "ISO-8859-1";

.creacion_box{
	border: 1px solid rgb(152, 152, 152);
	padding: 8px;
	width: 554px;
	margin-bottom: 4px;
}

.creacion_boton{
	height: 34px;
	width: 554px;
	margin-bottom: 4px;
	width: 223px;
    float: right;
    
    background-color: #CF3232;
	border: 0px solid;
	border-bottom: 2px solid #A00;
	color: #fff;
	font-weight: bold;
}

.creacion_boton:active{
	border: 0px solid;
	border-top: 2px solid #A00;
}

.error_box{
	border-color: #AA0000;
}

.valid_box{
	border-color: #00AA00;	
}

#gu{
	float: left;
}

#no{
	float: left;
	width: 438px;
	margin-left: 4px;
}

#normas {
	display: table-cell;
}

#normas_text{
	float:left; 
	font-size: 12px; 
	display: table-cell;
}